* {
    margin:0;
    padding:0;
}
:root {
    --darkBlue: #0c2742;
    --mainFont: #F9F9F9;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    height: 100vh;
}


h1 {
    color: var(--mainFont);
}

.input-mr {
    margin-right:1%;
}

.input-ml {
    margin-right: 1%;
}
